
body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";

}

.clearfix:after {
	clear: both;
}

body {
    font-family: sans-serif;
    color: black;
}

#globalNav {
	width:100%;
	background-color: #ff466d;
	top: 0px;
	display: none;
}

#globalNav a {
	color: white;
	text-decoration: none;
}

#globalNav a:hover {
	text-decoration: none;
}

a.navButton {
	position: absolute;
	width: 26px;
	height: 26px;
	top: 10px;
	right: 30px;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	line-height: 22px;
	background-color: white;
	color: salmon;

}

ul, ol {
	margin: 0;
	padding: 50px 0 0;
	margin: 0 auto;
	
}

ul.destination {
	width: 590px;
	overflow: hidden;
	
}

li {
	position: relative;
	margin-bottom: -44px;
	list-style: none;
	font-size: 110px;
	font-weight: 900;
	text-align: left;
	letter-spacing: -6px;
	font-family: 'Montserrat', MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;;
	
}



.lineMask {
	position: relative;
	width: 100%;
	height: 52px;
	bottom: 10px;
	background-color: white;
	border-top: 10px #ff466d solid;
	border-bottom: 28px #ff466d solid;
}
